.principal-container {
    width:100%; /* Se ajusta mejor al ancho de la pantalla sin márgenes excesivos */
    max-width: 1450px;
    margin: 10px auto; /* Márgenes laterales más pequeños */
    padding: 10px;
    text-align: left;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight:lighter;
  }
  
  .email {
    font-size: 16px;
    color: gray;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .document-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    column-gap: 35px; /* Espacio de 1 cm entre columnas */
    row-gap: 10px;
  }
  
  @media (max-width: 768px) {
    .document-container {
      grid-template-columns: 1fr; /* 1 sola columna en pantallas pequeñas */
    }
  }
  
  .document-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;   
    border: 1px solid rgba(0, 0, 0, 0.2);
   
  }
  
  .upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .check-icon {
    display: none;
    color: green;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .document-item.uploaded .check-icon {
    display: inline;
  }
  
  .checkbox-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    margin-right: 5px;
  } 